@font-face {
    font-family: "PT Sans";
    src: url(../../fonts/PT_Sans-Web-Regular.ttf);
}


* {
    margin: 0;
    padding: 0
}
.page {
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;
    margin: 0;
}

